<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configurações do Banco de Dados -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/teste</property>
        <property name="hibernate.connection.username">user_teste</property>
        <property name="hibernate.connection.password">usertest123</property>

        <!-- Configuração do Dialeto -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Outras Configurações -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeamento de Entidades -->
        <!-- Adicione aqui os seus mapeamentos -->
    </session-factory>
</hibernate-configuration>